<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/vue.js"></script>    
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in items">{{item.message}}</li>
        </ul>
        <hr>
        <ol>
            <li v-for="(item,index) in items">
                {{parentMessage}}--{{index}}--{{item.message}}
            </li>
        </ol>
        <hr>
        <h4>一个对象的v-for</h4>
        <ul>
            <li v-for="value in object">{{value}}</li>
        </ul>
        <hr>
        <h4>第二个参数为键名</h4>
        <ul>
            <li v-for="(value,key) in object">{{key}}:{{value}}</li>
        </ul>
        <hr>
        <h4>第三个参数为索引值</h4>
        <ul>
            <li v-for="(value,key,index) in object">
                {{index}}:{{key}}:{{value}}
            </li>
        </ul>
        <hr>
        <h4>记得给v-for提供key值</h4>
        <div v-text="str"></div>
        <hr>
        <h4>显示过滤排序结果</h4>
        <ul>
            <li v-for="n in eventNumbers">{{n}}</li>
        </ul>
        <hr>
        <h4>或者method</h4>
        <ul>
            <li v-for="n in even(numbers)"></li>
        </ul>
        <hr>
        <h4>一段取值范围的v-for</h4>
        <ul>
            <li v-for="n in 10">{{n}}</li>
        </ul>
        <hr>
        <h4>v-for和v-if(v-for的权重高)，先循环再判断是否显示</h4>
        <p>如果需要先判断，再循环，可以在外层使用v-if</p>
        <p>未完...</p>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                numbers:[1,2,3,4,5],
                parentMessage:"Parent",
                items:[
                    {message:'FOO'},
                    {message:'Bar'}
                ],
                object:{
                    firstName:'John',
                    lastName:'Doe',
                    age:30
                },
                str:'<div v-for="item in items" :key="item.id"><!-- 内容 --></div>'
            },
            methods:{
                even:function(numbers){
                    return numbers.filter(function(number){
                        return number % 2 === 0
                    })
                }
            },
            computed:{
                eventNumbers:function(){
                    return this.numbers.filter(function(number){
                        return number % 2 === 0
                    })
                }
            }
        })
    </script>
</body>
</html>